.main {
	min-height: 10vh;
	background-color: #ffffff;
	border-top: 1px solid rgb(199, 199, 199);
	display: flex;
	justify-content: center;
	align-items: center;

	.attribute {
		display: flex;
		font-size: 1.25rem;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-family: 'Poppins', sans-serif;
		font-weight: 500;

		.loader {
			margin-left: 0.8rem;
			margin-right: 0.8rem;
			position: relative;
			width: 20px;
			height: 25px;
			animation: heartBeat 1.2s infinite
				cubic-bezier(0.215, 0.61, 0.355, 1);
		}

		.loader:before,
		.loader:after {
			content: '';
			background: #ff3c00;
			width: 20px;
			height: 29px;
			border-radius: 50px 50px 0 0;
			position: absolute;
			left: 0;
			bottom: 0;
			transform: rotate(45deg);
			transform-origin: 50% 68%;
			box-shadow: 5px 4px 5px
				rgba(255, 41, 41, 0.267) inset;
		}

		.loader:after {
			transform: rotate(-45deg);
		}

		@keyframes heartBeat {
			0% {
				transform: scale(0.95);
			}

			5% {
				transform: scale(1.1);
			}

			39% {
				transform: scale(0.85);
			}

			45% {
				transform: scale(1);
			}

			60% {
				transform: scale(0.95);
			}

			100% {
				transform: scale(0.9);
			}
		}
	}
}
